*{
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;           
}

.navbar a {
    color: rgb(75, 77, 135);
    font-size: larger;
    padding-top: 4px;
    text-decoration: none;
}

.welcome {
    text-align: center;
    margin-top: 60px;
}
#cardsContainer{
    display: grid;
    overflow-x:scroll;
    grid-template-columns: repeat(3,1fr);
}
.card {
    background: #fff;
    padding: 15px;
    margin: 15px;
    width: 350px;
    box-shadow: 0 4px 8px rgba(7, 7, 7, 0.1);
}

#intakeForm{
    display: flex;
    justify-content: space-around;
}