*{
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.navbar {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar a {
    color: rgb(75, 77, 135);
    font-size: larger;
    padding-top: 4px;
    text-decoration: none;
}

.welcome {
    text-align: center;
    margin-top: 60px;
}

.card {
    background: #fff;
    padding: 15px;
    margin: 15px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
